<p>
  login works!
</p>

<form [formGroup]="model">
  <input type="text" formControlName="email" placeholder="email"> <br>
  <span *ngIf="!model.get('email').valid && model.get('email').touched">Please enter email</span><br>
  <input type="password" formControlName="password" placeholder="password"><br>
  <span *ngIf="!model.get('password').valid && model.get('password').touched">Please enter password</span><br>
  <button [disabled]="!model.valid" (click)="submit(model.value)">
    login
  </button>
</form>