<p>
  index works!
</p>
<br>
<button (click)="logout()">
  salir
</button>
<br><br>

<form [formGroup]="model">
  <input type="text" formControlName="name" placeholder="name"> <br>
  <span *ngIf="!model.get('name').valid && model.get('name').touched">Please enter name</span><br>
  <input type="text" formControlName="age" placeholder="age"><br>
  <span *ngIf="!model.get('age').valid && model.get('age').touched">Please enter age</span><br>
  <button id="btnSave" [disabled]="!model.valid" (click)="submit(model.value)">
    save
  </button>
  <button id="btnUpdate" [disabled]="!model.valid" (click)="update(model.value)">
    update
  </button>
</form>

<table>
  <thead>
    <tr>
      <th *ngFor="let k of fields">{{k}}</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of data">
      <td>{{i.name}}</td>
      <td>{{i.age}}</td>
      <td>
        <button (click)="edit(i.id)">editar</button>
        <button (click)="deletes(i.id)">eliminar</button>
      </td>
    </tr>
  </tbody>
</table>