<template>
  <div id="index">
    <button type="button" @click="logout()">salir</button>
    <br>
    <form>
      <input type="text" v-model="form.name" placeholder="name">
      <br>
      <input type="text" v-model="form.age" placeholder="age">
      <br>
      <button type="button" id="save" v-if="sv" @click="send()">aceptar</button>
      <button type="button" id="update" v-if="up" v-on:click="update()">actualizar</button>
    </form>
    <table>
      <thead>
        <tr>
          <th v-for="k in fields" :key="k">{{k}}</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="k in data" :key="k.id">
          <td>{{k.name}}</td>
          <td>{{k.age}}</td>
          <td>
            <button @click="edit(k.id)">Editar</button>
            <button @click="ifDelete(k.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../store";
import axios from "axios";
import global from "../global";

@Component
export default class Index extends Vue {
  fields: any = [];
  data: any = [];
  form = {
    name: "",
    age: ""
  };

  sv = true;
  up = false;
  ID: any;
  getAll() {
    let endpoint: any = global.const.PRUEBA_ALL;
    axios
      .get(endpoint, {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        if (response.data.success === true) {
          console.log(response.data.data);
          this.data = response.data.data;
          let keys: any = [];
          let jsonData: any = this.data;
          for (let i = 0; i < jsonData.length; i++) {
            Object.keys(jsonData[i]).forEach(function(key) {
              if (keys.indexOf(key) == -1) {
                if (key !== "id") {
                  keys.push(key);
                }
              }
            });
          }

          this.fields = keys;
        } else {
          // this.errors.push(response.data.message);
        }
      });
  }

  edit(id: any) {
    let endpoint: any = global.const.PRUEBA_EDIT + id;
    axios
      .get(endpoint, {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        if (response.data.success === true) {
          console.log(response.data.data);
          let data: any = response.data.data;
          this.form.name = data["name"];
          this.form.age = data["age"];
          this.sv = false;
          this.up = true;
          this.ID = id;
        } else {
          // this.errors.push(response.data.message);
        }
      });
  }

  send() {
    let endpoint: any = global.const.PRUEBA_SAVE;
    axios
      .post(endpoint, this.form, {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        if (response.data.success === true) {
          this.initComponent();
          this.getAll();
        } else {
          // this.errors.push(response.data.message);
        }
      });
  }

  update() {
    let endpoint: any = global.const.PRUEBA_UPDATE + this.ID;
    axios
      .put(endpoint, this.form, {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        if (response.data.success === true) {
          this.initComponent();
          this.getAll();
        } else {
          // this.errors.push(response.data.message);
        }
      });
  }

  ifDelete(id: any) {
    let r = confirm("Esta seguro de eliminar " + id);
    if (r == true) {
      this.deletes(id);
    }
  }

  deletes(id: any) {
    let endpoint: any = global.const.PRUEBA_DELETE + id;
    axios
      .get(endpoint, {
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        this.initComponent();
        this.getAll();
      });
  }

  async initComponent() {
    this.sv = true;
    this.up = false;
    this.form.name = "";
    this.form.age = "";
  }

  mounted() {
    this.initComponent();
    this.getAll();
  }

  logout() {
    localStorage.removeItem("token");
    store.commit("logoutUser");
    location.replace("/login");
  }
}
</script>