<template>
  <div class="login">
    <form>
      <input type="text" v-model="form.email" placeholder="user">
      <br>
      <input type="password" v-model="form.password" placeholder="password">
      <br>
      <button type="button" @click="enviar()">aceptar</button>
      <!-- <button type="button" v-on:click="enviar()">aceptar</button> -->
    </form>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";
import store from "../store";
import global from "../global";

@Component
export default class Login extends Vue {
  form = {
    email: "",
    password: ""
  };

  public enviar() {
    // console.log("form: ");
    // console.log(this.form);
 
    let endpoint: any = global.const.LOGIN;
    axios
      .post(endpoint, this.form, {
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        if (response.data.success === true) {
          store.commit("loginUser");
          localStorage.setItem("token", response.data.data.token);
          location.replace("/login");
        } else {
          // this.errors.push(response.data.message);
        }
      });
  }
}
</script>
